<div class="contenedor-inicio">
    <div class="texto-inicio" id="texto">
        <h1><strong>Portal de Ofertas Laborales</strong></h1>
        <P>¡Conoce las ofertas laborales que tenemos para ti!</P>
        <div class="button">
            <a [routerLink]="'ofertas'">Ver ofertas laborales</a>
        </div>
    </div>
    <div class="img-inicio" id="imagen">
        <img src={{img}} alt="Foto de egresados">
    </div>
</div>
<!-- <app-academicos></app-academicos> -->
<app-footer></app-footer>
