<div class="contenedor-inicio">
    <div class="texto-inicio" id="texto">
        <h1><strong>Agenda de Egresados.</strong><br>{{mes}} {{ano}}</h1>
        <p>¡Consulta nuestra agenda de egresados y participa de los eventos y actividades que tenemos para ti!</p>
        <div class="button">
            <a [routerLink]="'monitores'">¡Conoce a tu monitor!</a>
        </div>
    </div>
    <div class="img-inicio" id="imagen">
        <img src={{img}} alt="Foto de egresados">
    </div>
</div>
<!-- <app-academicos></app-academicos> -->
<app-footer></app-footer>
