<div class="contenedor-evento">
    <h1>¡Estos son las ofertas laborales que tenemos para ti esta semana!</h1>

      <select name="zona" id="zona">
        <option value="">--Seleccione la zona</option>
        <option *ngFor="let zona of zonasDelResponse" value="{{zona}}">{{zona}}</option>
      </select>
      <button class="boton-form" (click)="iniciarFiltro()">Filtrar</button>

    <table class="styled-table">
      <tr>
        <th *ngFor="let title of cabecera">{{title}}</th>
      </tr>
      <tr *ngFor="let oferta of ofertasFiltrados">
        <td>{{oferta.id}}</td>
        <td>{{oferta.zona}}</td>
        <td>{{oferta.ubicacion}}</td>
        <td>{{oferta.titulo}}</td>
        <td>
          <ul>
            <li *ngFor="let requisito of oferta.requisitos">
              {{requisito}}
            </li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let observacion of oferta.observaciones">
              {{observacion}}
            </li>
          </ul>
        </td>
        <td>
          <a href={{oferta.url}} target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
        </td>
        <td>
          <a class="boton-form" (click)="abrirModal(oferta)">Apliqué</a>
        </td>
      </tr>
    </table>

</div>


<div id="myModal" class="modal"  [style]="(mostrarModal)?'display: block':'display: none'" >
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <h2>Formulario aplicación</h2>
    </div>
    <div class="modal-body">
      <form *ngIf="mostrarForm" id="my-form" target="my-response-iframe" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdjv3pJ-3DXB3n0P2VwKYAAdU0Zyrz5HeszNJmryPhTI3ExWw/formResponse" method="post">
        <div style="display: none;">
          <label for="entry.923630514">ID Oferta: </label>
          <input type="text" id="entry.923630514" name="entry.923630514" [value]="valueID" required>
        </div>
        <div>
          <label for="entry.432602229">Email: </label>
          <input type="email" name="entry.432602229" value="" required>
        </div>
        <div>
          <label for="entry.328376619">Cédula: </label>
          <input type="number" name="entry.328376619" value="" required>
        </div>
        <div>
          <label for="entry.486661795">Nombre: </label>
          <input type="text" name="entry.486661795" value="" required>
        </div>
        <div>
          <label for="entry.265503233">Teléfono: </label>
          <input type="number" name="entry.265503233" value="" required>
        </div>
        <input type="submit" class="boton-form">
      </form>
      <h2 *ngIf="!mostrarForm">Respuesta guardada</h2>
      <iframe style="display: none;" (load)="iframeLoad()"  id="my-response-iframe" name="my-response-iframe" onload="if(window.submitted||false){alert('Response saved. You may navigate away now');}"></iframe>



    </div>
    <!-- <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div> -->
  </div>

</div>
