<div class="contenedor-evento">
    <h1>¡Estos son los eventos {{nombre}} del mes de {{mes}}!</h1>
    <div class="caja-evento" *ngFor="let item of Evento">
        <h3>{{item.nombre}}</h3>
        <h4>{{item.fecha}}<br>{{item.hora}}<br>Tutor: {{item.tutor}}</h4>
        <div class="contenedor-transmision">
            <div *ngFor="let i of mapa | keyvalue">
                <a *ngIf="item.inscripcion.includes(i.key)" href={{item.inscripcion}} target="_blank">
                    <img src="{{i.value}}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
